/* a minimalist set of CSS resets */

/* default to border-box */
html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/* adjust typography defaults */
body {
  margin: 2rem;
  font-family: helvetica, arial, sans-serif;
  line-height: 1.5;

  /* Codepath SITE prework */
  background-color: slategrey;
  color: white;
}

/* Codepath SITE prework */
h1 {
  font-family: verdana, arial, sans-serif;
}

/* Codepath SITE prework */
button {
  padding: 10px;
  border-radius: 10px;
}

/* Codepath SITE prework */
#gameButtonArea > button {
  width: 200px;
  height: 200px;
  margin: 2px;
}

/* Codepath SITE prework */
.hidden {
  display: none;
}

/* Codepath SITE prework */
#button1 {
  background: lightgreen;
}
#button1:active,
#button1.lit {
  background: green;
}

/* Codepath SITE prework */
#button2 {
  background: lightblue;
}
#button2:active,
#button2.lit {
  background: blue;
}

/* Codepath SITE prework */
#button3 {
  background: lightpink;
}
#button3:active,
#button3.lit {
  background: red;
}

/* Codepath SITE prework */
#button4 {
  background: lightyellow;
}
#button4:active,
#button4.lit {
  background: yellow;
}

/* Codepath SITE prework */
#button5 {
  background: orchid;
}
#button5:active,
#button5.lit {
  background: purple;
}

/* Codepath SITE prework */
#button6 {
  background: lightsalmon;
}
#button6:active,
#button6.lit {
  background: orangered;
}

/* images and videos max out at full width */
img,
video {
  height: auto;
  max-width: 100%;
}
